@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-xs-12 col-md-6 text-end p-5 ">
        <h1 class="display-1 text-dark-emphasis">That's our JAM</h1>
        <p class="display-6">ASP.net MVC Web Sports Application</p>
    </div>
    <div class="col-xs-12 col-md-6 d-flex justify-content-center">
        <a asp-area="" asp-controller="Home" asp-action="NBA" class="card mx-1 logo-card">
            <img src="images/nba-logo.jpg" class="card-img-top league-logo" alt="NBA LOGO">
            <div class="card-body border-top border mt-2 text-center">
                <p class="card-text">View NBA Teams, standing and player statistics</p>
            </div>
        </a>
        <a class="card mx-1 logo-card" href="/Home/NFL">
            <img src="images/nfl-logo.jpg" class="card-img-top league-logo" alt="NFL Logo">
            <div class="card-body border-top border mt-2 text-center">
                <p class="card-text">View NFL Teams, standing and player statistics</p>
            </div>
        </a>
    </div>
</div>
<div class="d-flex justify-content-center" style="margin-top:150px">
    <div class="card text-center">
        <div class="card-header">
            <p class="">Brought to you by the team of:</p>
        </div>
        <div class="card-body border-top border-1 display-6">
            Jessica | Angel | Michael | Stephanie
        </div>
    </div>
</div>