@{
    ViewData["Title"] = "Sports Teams";
}

<script src="~/js/sportsApi.js"></script>

<div class="row mt-5">
    <div class="col-xs-12 col-md-3 team-list">
        <ul class="list-group" id="teams">
        </ul>
      
    </div>
    <div class="col-xs-12 col-md-9">
        <ul class="nav nav-tabs" id="teamTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">Info</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#games-tab-pane" type="button" role="tab" aria-controls="games-tab-pane" aria-selected="false">Games</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#players-tab-pane" type="button" role="tab" aria-controls="players-tab-pane" aria-selected="false">Players</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="info-tab-pane" role="tabpanel" aria-labelledby="info-tab-pane" tabindex="0">
                <div class="row mt-4">
                    <div class="col">
                        <div class="card">
                            <div class="card-body" id="team-info-card">
                                Select a Team
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body" id="standing-card">
                                select a team
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="tab-pane fade mt-2 data-table" id="games-tab-pane" role="tabpanel" aria-labelledby="games-tab" tabindex="0">
                <table class="table table-striped table-hover table-bordered data-table" >
                    <thead>
                        <tr>
                            <th>
                                Game Date
                            </th>
                            <th>
                                Teams
                            </th>
                            <th>
                                Final Score
                            </th>
                        </tr>
                    </thead>
                    <tbody id="games-body"> 
                        <tr>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                        </tr>
                        <tr>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                        </tr>
                        <tr>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                        </tr>
                        <tr>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="tab-pane fade mt-2 data-table" id="players-tab-pane" role="tabpanel" aria-labelledby="players-tab" tabindex="0">
                <table class="table table-striped table-hover table-bordered ">
                    <thead>
                        <tr>
                            <th>
                                Player Name
                            </th>
                            <th>
                                Player Position
                            </th>
                            <th>
                                Player Number
                            </th>
                        </tr>
                    </thead>
                    <tbody id="players-body">
                        <tr>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                        </tr>
                        <tr>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                        </tr>
                        <tr>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                        </tr>
                        <tr>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                            <td>
                                add data
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            
        </div>
    </div>
</div>
<script>//placeholder
    var teamList = document.getElementById('teams');
    var html = '';
    for (var i = 0; i < NBA_TEAM.length; i++) {
        var team = NBA_TEAM[i];
        html += '<a href="#" class="list-group-item list-group-item-action" data-key="' + team.key + '">'
              + '<img src="' + team.logo + '" class="img-thumbnail list-logo" />' + team.name + '</a>';
    }
    teamList.innerHTML = html;

    var links = teamList.querySelectorAll('a');
    for (var i = 0; i < links.length; i++) 
    {
        links[i].addEventListener('click', function (e) 
        {
            e.preventDefault();
            var all = teamList.querySelectorAll('a');
            for (var j = 0; j < all.length; j++) all[j].classList.remove('active');
            this.classList.add('active');
            loadTeamDetail(this.getAttribute('data-key'));
        }); 
    }

        // Automatically click the first team to load its details on page load
    if (links.length > 0) 
    {
        links[0].click();
    }

    async function loadTeamDetail(key) {
        var detail = await SportsApi.nba.getTeamDetail(key);
        if (!detail) return;

        var team = detail.team;
        var s = detail.standing;
        // info tab, this uses the api called to display the information to the web
        document.getElementById('team-info-card').innerHTML =
            '<p><strong>' + team.city + ' ' + team.name + '</strong></p>'
          + '<p>Conference: ' + (team.conference || 'N/A') + '</p>'
          + '<p>Division: ' + (team.division || 'N/A') + '</p>'
          + (team.wikipediaLogoUrl ? '<img src="' + team.wikipediaLogoUrl + '" style="max-height:100px;" />' : '');

        document.getElementById('standing-card').innerHTML = s
            ? '<p><strong>Record:</strong> ' + s.wins + '-' + s.losses + '</p>'
            + '<p><strong>Win %:</strong> ' + (s.percentage * 100).toFixed(1) + '%</p>'
            + '<p><strong>Home:</strong> ' + s.homeWins + '-' + s.homeLosses + '</p>'
            + '<p><strong>Away:</strong> ' + s.awayWins + '-' + s.awayLosses + '</p>'
            : '<p>No standing data</p>';
        //a simple for loop to search the games for that particular team
        var gHtml = '';
        for (var i = 0; i < detail.games.length; i++) {
            var g = detail.games[i];
            var date = g.dateTime ? new Date(g.dateTime).toLocaleDateString() : 'TBD';
            gHtml += '<tr><td>' + date + '</td>'
                   + '<td>' + (g.awayTeam || '') + ' @@ ' + (g.homeTeam || '') + '</td>'
                   + '<td>' + (g.awayTeamScore || '-') + ' - ' + (g.homeTeamScore || '-') + '</td></tr>';
        }
        document.getElementById('games-body').innerHTML = gHtml || '<tr><td colspan="3">No games</td></tr>';
        //for loop to find the players in the team
        var pHtml = '';
        for (var i = 0; i < detail.players.length; i++) {
            var p = detail.players[i];
            pHtml += '<tr><td>' + (p.firstName || '') + ' ' + (p.lastName || '') + '</td>'
                   + '<td>' + (p.position || '') + '</td>'
                   + '<td>#' + (p.jersey || '-') + '</td></tr>';
        }
        document.getElementById('players-body').innerHTML = pHtml || '<tr><td colspan="3">No players</td></tr>';
    } //4 liters of dr pepper later
</script>